* {
  margin: 0;
}

body {
  margin: 0 15px;
  padding-bottom: 2em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.6;
  --color-black: #282828;
  --color-blue: #52757a;
  --color-grey: #666;
  --color-lightgrey: #f5f5f5;
  --color-lightblue: #e6edef;
  color: var(--color-black);
  --corners: 20px;
  --gutter: 72px;
}

/* TYPOGRAPHY */

h1,
h2 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.9rem;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--color-grey);
}

h3:before {
  content: '> ';
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-weight: 400;
  color: var(--color-grey);
  font-size: 1.1rem;
}

h6 {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--color-grey);
}

p.small {
  font-size: calc(1.1rem * 0.8);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--color-blue);
}

.blog__content p {
  margin-bottom: 12px;
}

p.example-code {
  margin-bottom: 0;
}

p.left-indent {
  padding-left: 18px;
}

/* BUTTONS */

.btn {
  font-size: 1.1rem;
  margin-top: 20px;
  padding: 10px 40px;
  border-radius: 200px;
  transition: 0.2s;
}

.btn-inverted {
  border: 1px solid #fff;
  transition-timing-function: ease-in-out;
}

.btn-inverted:hover,
.btn-inverted:focus {
  background-color: rgba(81, 117, 122, 0.5);
  color: #fff;
}

.read-more {
  border: none;
  background-color: transparent;
  padding-bottom: 3px;
  border-bottom: 2px solid var(--color-black);
}

.read-more:hover,
.read-more:focus {
  border-color: var(--color-blue);
}

/* LAYOUT SPACING */

nav {
  width: 100%;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

header {
  width: 100%;
  padding: 4em 0 3em 0;
}

.image-grid {
  width: 100%;
  height: auto;
  padding-bottom: 4em;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
}

.blog-preview {
  width: 100%;
  padding-bottom: 4em;
}

footer {
  background-color: var(--color-black);
  width: 100%;
  padding: 3em 0;
  color: #fff;
  border-radius: var(--corners);
  position: relative;
}

.blog__content {
  width: 100%;
  height: auto;
  padding-bottom: 4em;
}

/* NAVIGATION */

nav {
  border-bottom: 1px solid rgba(102, 102, 102, 0.4);
}

.nav__logo {
  width: 55px;
  height: auto;
}

.nav__logo img {
  width: 55px;
}

.nav__links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-weight: 700;
}

/* IMAGE GRID */

.image-grid-item_a,
.image-grid-item_b,
.image-grid-item_c,
.image-grid-item_d,
.image-grid-item_e,
.image-grid-item_f {
  width: 100%;
  height: 100px;
  border-radius: var(--corners);
  overflow: hidden;
}

.image-grid-item_a {
  grid-column: 1 / span 10;
  background-image: url(../images/pexels-hilaryh-green.jpg);
  background-size: cover;
}

.image-grid-item_b {
  grid-column: 1 / span 2;
  background-image: url(../images/pexels-digijohan-red.jpg);
  background-size: cover;
}

.image-grid-item_c {
  grid-column: 3 / span 8;
  background-image: url(../images/pexels-matthardy-blue.jpg);
  background-size: cover;
}

.image-grid-item_d {
  grid-column: 1 / span 6;
  background-image: url(../images/pexels-enginakyurt-yellow.jpg);
  background-size: cover;
}

.image-grid-item_e {
  grid-column: 7 / span 4;
  background-image: url(../images/pexels-pixabay-blackandwhite.jpg);
  background-size: cover;
}

.image-grid-item_f {
  grid-column: 1 / span 10;
  background-image: url(../images/pexels-pixabay-orange.jpg);
  background-size: cover;
}

/* BLOG PREVIEWS */

.blog-preview__card {
  margin: 2.5em 0;
}

.blog-preview__image,
.blog__image {
  width: 100%;
  height: 300px;
  border-radius: var(--corners);
  overflow: hidden;
  margin-bottom: 1em;
}

.blog-preview__image img,
.blog__image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog-preview__title h4 {
  margin: 4px 0;
}

/* FOOTER */

.footer__decoration {
  position: absolute;
  top: -10px;
  right: 40px;
  width: 55px;
  height: 42px;
}

.footer__decoration img {
  width: 55px;
}

.footer__title {
  padding: 0 1em 4em 1em;
  text-align: center;
}

#footer-heading {
  margin-bottom: 20px;
}

.footer__links {
  padding: 0 1em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-weight: 700;
}

footer p {
  text-align: center;
  padding-top: 1em;
}

/* BLOG */

.subheading__blog {
  margin-top: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

h5.blog__author:before {
  content: '> ';
}

h5.blog__date:before {
  content: '> ';
}

.blog__image {
  margin-bottom: 2em;
}

.blog__example {
  background-color: var(--color-lightblue);
  padding: 20px;
  border-radius: var(--corners);
  margin: 20px 0;
}

/* SPRINT 2 */

.blog-position {
  border: 3px solid red;
}

.blog-position p {
  margin: 0;
}

.example-relative {
  position: relative;
  width: 200px;
  height: 200px;
}

.example-absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}

.example-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
  background-color: rgba(255, 0, 0, 0.2);
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  body {
    margin: 0 72px;
  }

  header.home {
    display: flex;
    gap: 20px;
  }

  .header__home {
    width: 60%;
  }

  .subheading__home {
    width: 40%;
  }

  h1 {
    font-size: 4.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  .blog-preview-list {
    display: flex;
    gap: 20px;
  }

  .blog-preview__card {
    width: 50%;
  }

  .blog-preview__image,
  .blog__image {
    height: 400px;
  }

  .blog-preview__image img,
  .blog__image img {
    height: 400px;
  }

  .footer__title {
    padding: 0 1em 6em 1em;
  }
}

/* extra-wide widescreen displays */
@media only screen and (min-width: 1250px) {
  body {
    max-width: 1100px;
    margin: 0 auto;
  }
}