body {
  font-family: "Poppins", sans-serif;
}

.nav-logo {
  width: 50px;
  height: auto;
}

.nav-menu-item {
  color: #000;
  text-decoration: none;  
}

.nav-menu-item:hover {
  color: #FFB8C9;
  /* text-decoration: underline; */
  transition-delay: 0.04s;
}

.blog-preview-list {
  display: flex;
  gap: 20px;
}

.blog-preview {
  background-color: #E3E5E6;
  width: 400px;
  border-radius: 20px;
  padding: 30px;
}

.blog-image {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/* widescreen displays */
@media only screen and (min-width: 920px) {
  .container {
    /* some layout rules */
  }
}

/* tablets */
@media only screen and (max-width: 919px) {
  .container {
    /* some layout rules */
  }
}

/* phones */
@media only screen and (max-width: 400px) {
  .container {
    /* some layout rules */
  }
}
